@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap");
.haut {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  justify-items: center;
  text-align: center;
  grid-area: 1/1/2/2;
}
.haut .logo {
  grid-area: 1/1/2/2;
  width: 150px;
  height: auto;
}
.haut .titre {
  grid-area: 1/2/2/3;
}
.haut .titre h1 {
  font-size: 50px;
  color: #2b262d;
}
.haut .titre p {
  font-size: 30px;
  color: #9f496e;
}
.haut .vide {
  grid-area: 1/3/2/4;
}

.header-image .cover {
  width: 100%;
  background-size: contain;
}

nav {
  padding-top: 10px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul a {
  text-decoration: none;
  color: #9f496e;
}
nav ul li {
  list-style: none;
}

main {
  margin: 0 150px;
}
@media screen and (max-width: 800px) {
  main {
    margin: 0;
  }
}

.histoire-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  grid-auto-flow: row;
}
@media screen and (max-width: 1100px) {
  .histoire-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.histoire-container h2 {
  grid-area: 1/1/2/3;
  font-size: 40px;
  color: #9f496e;
  text-align: center;
}
.histoire-container .texte {
  grid-area: 2/1/3/2;
}
.histoire-container .vitrine {
  grid-area: 2/2/3/3;
  width: 80%;
  background-size: contain;
}
@media screen and (max-width: 1100px) {
  .histoire-container .vitrine {
    width: 100%;
    margin: 0;
  }
}

h2 {
  font-size: 40px;
  color: #9f496e;
  text-align: center;
  margin-top: 70px;
}

.produit-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
}
@media screen and (max-width: 800px) {
  .produit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.produit-container .produit1 {
  grid-area: 1/1/4/3;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}
.produit-container .produit2 {
  grid-area: 1/3/2/5;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}
.produit-container .produit3 {
  grid-area: 2/3/4/4;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}
.produit-container .produit4 {
  grid-area: 2/4/4/5;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}
.produit-container .produit5 {
  grid-area: 3/1/5/3;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}
.produit-container .produit6 {
  grid-area: 3/3/5/5;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.suivre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.suivre .logo {
  width: 50px;
  height: auto;
}

.adresse-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  background-color: #2b262d;
  color: #f2ebe5;
}
@media screen and (max-width: 800px) {
  .adresse-container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
}

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}

#scroll_to_top img {
  width: 25px;
}

a {
  color: #9f496e;
  text-decoration: none;
}

body {
  font-family: "Dancing Script", cursive;
  background-color: #f2ebe5;
  margin: 0 auto;
  font-size: 25px;
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
